* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --sidebar-width: 16.5rem;
  --sidebar-top-logo-height: 12vh;
  --sidebar-middle-logo-height: 78vh;
  --sidebar-bottom-logo-height: 10vh;
  --header-height: 8.8vh;
}


/* login page  */
.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  bottom: 0.26rem;
  right: 1rem;
  cursor: pointer;
}

.cbre-logo {
  width: 40%;
}



/* sidebar  */
.sidebar-width {
  width: var(--sidebar-width) !important;
  background-color: white;
  height: 100vh;
  /* total sidebar height=100vh */
}

.sidebar-top-logo {
  height: var(--sidebar-top-logo-height);
  /* sidebar top logo height=15vh */
}

.sidebar-middle-links {
  height: var(--sidebar-middle-logo-height);
  /* sidebar middle nav-links height=85vh */
}

a.nav-link {
  color: #3f3f3f;
  margin: 0.5rem 0;
}

a.nav-link:hover {
  color: #070707;
}

a.nav-link.active {
  background-color: #3087f0;
  color: white;
}

.nav-link {
  transition: none !important;
}

.logout-container {
  height: var(--sidebar-bottom-logo-height);
  /* sidebar middle nav-links height=85vh */
}

.login-logo {
  width: 50%;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.cbre-sidebar-logo {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.sidebar-logo {
  width: 70%;
  height: 55px;
  display: block;
  margin: 0 auto;
}



/* header  */
.cbre-header-logo {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.header-logo {
  width: 50%;
  height: 55px;
  display: block;
  margin: 0 auto;
}

.header-component {
  height: var(--header-height) !important;
}



/* main content height  */
.reportClass {
  height: 99%;
}

.main-content-height,
.main-card-heightt {
  height: calc(100vh - var(--header-height));
}

.responsive-main-content-width {
  width: calc(100% - var(--sidebar-width));
}

.matsuriAi-searchBar .fieldBar {
  padding: .7rem;
}

.matsuriAi-searchBar {
  position: relative;
  cursor: pointer;
}

.matsuriAi-send-icon {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  font-size: 1.5rem;
}

.table-visibility {
  visibility: hidden;
  height: 10% !important;
  overflow: hidden !important;
}

.hide-searchIcon {
  pointer-events: none;
}

.uploadXLCard {
  border: 2px dotted grey !important;
  background-color: white !important;
  cursor: pointer;
}

.spinner-border {
  --bs-spinner-width: 1.5rem !important;
  --bs-spinner-height: 1.5rem !important;
}

.card-height {
  height: 30rem;
}

.update-template-dropdown {
  height: 10rem;
  overflow-y: scroll;
}

.cutom-live-client-header {
  background-color: #b7d4f892 !important;
  color: #000000 !important;
  margin: 6px !important;
  padding: 12px !important;
  font-weight: 700 !important;
  border-bottom: 3px !important;
}

.cutom-live-client-card-text {
  color: #737373 !important;
}

.cutom-live-client-card-title {
  font-size: 16px !important;
}

.viewLiveCustomer-bg {
  background-color: #ebf4ffc7;
}

.modal-rocket-card-title {
  font-size: 16px !important;
}

.cursorPointer {
  cursor: pointer;
}

.modal-iframe-height {
  height: calc(100vh - 10rem);
}

.heading-title {
  width: 10rem !important;
  color: rgb(68, 68, 68);
}

.heaing-content {
  width: calc(100% - 10rem) !important;
  color: rgb(68, 68, 68);
}

.main-title {
  font-size: 1.3rem;
}

.table {
  --bs-table-bg: transparent !important;
  --bs-table-border-color: #aaaaaa !important
}

.textarea_resize{
  resize: none;
}

.spinner-border.textarea{
  --bs-spinner-width: 1.2rem !important;
  --bs-spinner-height: 1.2rem !important;
}

.prompt_placeholder_height{
  height: 19rem;
}

@media (max-width:992px) {
  .editCongigurationCardHeight {
    height: 40rem !important;
    overflow-y: scroll !important;
  }
}

@media (min-width:992px) {
  .editCongigurationCardHeight {
    height: 45rem !important;
    overflow-y: scroll !important;
  }
}

@media (min-width:1440px) {
  .editCongigurationCardHeight {
    height: 49rem !important;
    overflow-y: scroll !important;
  }
}